#contact {
  background-color: #ffffff;
  padding: 3rem 2rem;
  backdrop-filter: blur(16px) saturate(180%);
}


 h2 {
    text-align: center;
  font-size: 2rem;
  color: #0077cc;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 200px 500px 150px;
  box-shadow: rgb(18, 125, 238) 0px 20px 200px -10px;
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  
}

button[type="submit"]:hover {
  background-color: #005fa3;

  
}

.social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-links a {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
}