@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0077cc;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  /* color: #333;
  font-weight: 500; */
  box-shadow: inset 0 0 0 0 #3fbbe8;
  color: #000000;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
}

.nav-links a:hover {
  box-shadow: inset 100px 0 0 0 #6444ef;
  color: white;
}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    /* background-color: rgb(255, 255, 255); */
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border: 1px solid #ccc;
    padding: 1rem;

    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(52, 50, 50, 0.5);

    overflow: hidden;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
